{%extends 'layout.html' %}


{%block body%}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">UPDATE ITEM</h5>
            <form method = "POST">
                <div class="form-group">
                <label for="Ref_ID">Reference ID</label>
                <input
                    type="text"
                    class="form-control"
                    id="Ref_ID"
                    name="Ref_ID"
                    placeholder="Enter Reference ID of the item to be updated......"
                />
                </div>
                <input type="submit" value = "UPDATE" class="btn btn-outline-info"></input>           
            </form>
        </div>
    </div>
</div>
{% endblock %}





{%endblock%}
